@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --darkblue: #2a2ae9;
  --blue: #344ef4;
  --hover-blue: #2a2ae9;
  --inner-shadow-blue: #1e1ea2;
  --border-white: #ececec;
  --hover-white: #f6f6f7;
  --inner-shadow-white: #d8d8d8;
  --focus-outline-blue: #78a9ff;
  --red: #f44336;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200, 400,
  'GRAD' 0,
  'opsz' 48
}

button {
  font-family: inherit;
}

body {
  margin: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
