.profile-page {
  width: 80%;
  max-width: 700px;
  align-self: center;
}

.profile-show {

}

.username-show {

}

.edit-profile-btn {

}

.profile-photo {

}

.reservations-show {

}

.reservations-sidenav {
  
}

.reservations-list {

}

.reservation-card {

}