@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 15px;
  height: 15px;
  border: 5px solid var(--border-white);
  border-top: 5px solid var(--blue);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}